.delete{
    
        background-image: url("https://quoteinvestigator.com/wp-content/uploads/2019/04/readbooks08.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 750px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    
}

#b{
    margin-left:90%;
}