body{
      padding:0%;
    margin:0%;

}
img{
    border :5px solid lightcyan;
    border-radius:99%;

}
nav{
    width:100%;
    background: black;
}
li{
    display:inline;
}
ul,li,a{
    margin:0%;
    color:white;
    display:inline-block;
    padding:10 px;
    text-decoration: none;
    font-size: 25px;
}
ul{
    margin:0%;
}

