.librarian{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSsOLHNlwmT7D2FJCX-tiLbc9IgCa80QQGllBEyoVR0_GBvhd1jw"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 750px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card {
    margin-top: 120px; 
    background: linear-gradient(to right,black,darkslategray);
     opacity: 0.8;
     border-radius: 20px;
}