.login-purple-pink {
    background: linear-gradient(145deg,cyan, #E91E63);
    margin:auto;
    width: 25%;
  
}
.a{
    padding:150px; 
    background:white;
    height: 750px;
    background-size:cover;
    



}
