<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
   <servlet-name>MyGenericServlet</servlet-name>
   <servlet-class>com.tetstyantra.mywebapp.servlets.MyGenericServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RedirectServlet</servlet-name>
  	<display-name>RedirectServlet</display-name>
  	<description></description>
  	<servlet-class>com.tetstyantra.mywebapp.servlets.RedirectServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ForwardServlet</servlet-name>
  	<display-name>ForwardServlet</display-name>
  	<description></description>
  	<servlet-class>com.tetstyantra.mywebapp.servlets.ForwardServlet</servlet-class>
  </servlet>
 
  	
  <servlet>
  	<servlet-name>IncludeServlet</servlet-name>
  	<display-name>IncludeServlet</display-name>
  	<description></description>
  	<servlet-class>com.tetstyantra.mywebapp.servlets.IncludeServlet</servlet-class>
  </servlet>
  
  	
  <servlet>
  	<servlet-name>MyJSP</servlet-name>
  	<jsp-file>/MyFirstJSP.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>MyJSP</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>MyGenericServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RedirectServlet</servlet-name>
  	<url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>IncludeServlet</servlet-name>
  	<url-pattern>/include</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
</web-app>
